extends ./views/layout/layout-tour.pug
block vars
  - var title = 'About page';
block main
  main Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim officiis non, qui ea accusantium culpa earum iusto placeat quaerat ut quisquam voluptate error obcaecati at cupiditate quia soluta quas. Perspiciatis?

