extends ./views/layout/_dashboard
append stylesheet
  link(rel="stylesheet", href="./styles/home.css")
block title
  title GocastUI - HomePage
block main
  .home-wrapper
    .home-left
      include ./views/modules/home/_popular-host
      include ./views/modules/home/_trending
    .home-right