@use "../abstracts" as abst;
body {
  font-family: abst.$font-primary;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
