.trending
  h2.heading.trending-heading Trending
  .trending-banner
    .trending-content
      h3.trending-title
        span UX Design
        |&nbsp;Process: Mental Modeling Framework.
      p.trending-podcast Podcast Episode - 1
      p.trending-author
        | Thomas L. Fletcher
        span.trending-author-position ( UI Designer at UIHUT )
      button.button.button--primary
        include ../../icons/_icon-play
        span Play now
    img.trending-circle(srcset="./images/img-circle.png 2x", alt="")
    img.trending-vector(srcset="./images/img-vector.png 2x", alt="")
    .trending-image
      img(src="./images/img-man.png", alt="")