mixin menuItem(text, icon = '', href = "#")
  li.menu-item
    a.menu-link(href= href)
      span.menu-icon
        if icon
          case icon
            when 'icon-home'
              include ../icons/_icon-home
            when 'icon-chart'
              include ../icons/_icon-chart
            when 'icon-cube'
              include ../icons/_icon-cube
      span.menu-text= text