/* diamond */
.diamond {
  padding: 65px 0;
  background-color: #fcfcfc;
}
.diamond .heading {
  text-align: center;
}
.diamond-list {
  max-width: 998px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px;
  gap: 30px;
}
.diamond-item {
  background-color: #ffffff;
  box-shadow: 0px 30px 110px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  padding: 12px;
}
.diamond-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.diamond-all {
  margin: 70px auto 0;
  font-size: 24px;
  padding: 9px 40px;
  line-height: 1.5;
}
.diamond-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.diamond-content {
  background: linear-gradient(
    3.19deg,
    rgba(0, 0, 0, 0.6) 17.99%,
    rgba(0, 0, 0, 0) 55.56%
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding-left: 30px;
  padding-bottom: 14px;
  color: white;
  display: flex;
  align-items: flex-end;
}
