/* Gems */
.gem-list {
  display: grid;
  grid-template-rows: 300px 300px 150px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.gem-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.gem-item:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.gem-item:nth-child(3) {
  grid-column: 1 / 2;
}
.gem-item:nth-last-child(2) {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
}
.gem-item:last-child {
  grid-column: 2 / -1;
}
