.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 100rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
}
