$font-primary: "IBM Plex Sans", sans-serif;
$bg-color: #ffffff;
$text-gray: #8393aa;
$text-black1: #1c1e22;
$graye9: #ebeff5;
$gray1: #5e6064;
$gray2: #a5a6b1;
$gray37: #373a43;
$gray-natural: #676a6f;
$gray-natural1: #f8f8f8;
$gray-natural2: #eff2f6;
$gray-neutral1: #fcfcfc;
$primary-color: #6e5fd3;
$primary-black: #232333;
$gradient: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);

:root {
  --primary-h: 248; // hue
  --primary-s: 57%; // saturation
  --primary-l: 60%; // light
}
