@use "../../abstracts" as abst;
.host {
  padding-bottom: 28px;
  &-heading {
    font-size: 16px;
    color: abst.$text-black1;
    margin-bottom: 20px;
    @include abst.fw("semibold");
  }
  &-list {
    --gap: 12px;
    @include abst.flexBox(flex-start, space-between, var(--gap), null);
  }
  &-item {
    --gap: 6px;
    --avatar-size: 44px;
    @include abst.flexBox(center, null, var(--gap), column);
    @include abst.screenMW(768px) {
      --gap: 7px;
      --avatar-size: 64px;
    }
  }
  &-avatar {
    @include abst.size(var(--avatar-size));
    @include abst.rounded("rounded-full");
    @include abst.flexBox(flex-end, center);
    overflow: hidden;
    position: relative;
    background-color: var(--color);
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--color);
    img {
      position: relative;
      z-index: 2;
    }
  }
  &-name {
    font-size: 14px;
    color: abst.$gray1;
  }
}
