@forward "./host";
@forward "./trending";
@forward "./feed";
@forward "./top-podcast";
@forward "./follow";
@forward "./listening";
@forward "./_topics";
.home-wrapper {
  @container mainContainer (min-width: 790px) {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 60px;
  }
}
