.top-podcast {
  &-images {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    img {
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
