section.popular
  .container
    h2.heading Popular things to do in Bangkok
    .popular-list
      +popularItem()
      +popularItem()
      +popularItem()
      +popularItem()
      +popularItem()
      +popularItem()
      +popularItem()