section.grid
  .container
    .grid-layout
      each val in [1,2,3,4,5,6,7]
        .grid-item= val
    .my-name
      span Evondev
    button.button-rounded icon
    .bag-icon
      svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(d="M4.53715 10.4713C4.80212 8.48412 6.49726 7 8.50207 7H15.4979C17.5027 7 19.1979 8.48412 19.4628 10.4713L20.3962 17.4713C20.7159 19.8693 18.8504 22 16.4313 22H7.56873C5.14958 22 3.2841 19.8693 3.60382 17.4713L4.53715 10.4713Z", stroke="#7B88A8", stroke-width="1.5")
        path(d="M16 9V6C16 3.79086 14.2091 2 12 2V2C9.79086 2 8 3.79086 8 6L8 9", stroke="#7B88A8", stroke-width="1.5", stroke-linecap="round")
    button.pointer
      span Demo
      span Icon
    div.column
      h3.title this is tile
      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ad reprehenderit, unde quas modi rerum iure cumque esse in quasi obcaecati cum architecto consequuntur dolorum dolore qui maiores, veritatis impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ad reprehenderit, unde quas modi rerum iure cumque esse in quasi obcaecati cum architecto consequuntur dolorum dolore qui maiores, veritatis impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ad reprehenderit, unde quas modi rerum iure cumque esse in quasi obcaecati cum architecto consequuntur dolorum dolore qui maiores, veritatis impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ad reprehenderit, unde quas modi rerum iure cumque esse in quasi obcaecati cum architecto consequuntur dolorum dolore qui maiores, veritatis impedit!
    .boxed
    .text-indent evondev
    .box-overflow Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio doloribus minima dolorem accusantium soluta sunt quia assumenda esse, magni iure modi sapiente adipisci voluptatem eligendi aut iste laboriosam beatae eius!Odio quaerat dicta est, voluptatem quas esse magni quasi aliquid at tempore ratione, praesentium inventore sint repellat assumenda blanditiis, vel doloribus itaque quo voluptates explicabo quae cum incidunt. Recusandae, iure.Obcaecati fugit repellendus non, doloribus sapiente aspernatur temporibus laborum tempore similique quam tempora omnis rerum animi necessitatibus officia aliquid modi eligendi id dolor illo hic earum reiciendis et. Laudantium, cumque!Libero numquam beatae, accusamus voluptatibus dolor ducimus. Sint est cum dicta error temporibus explicabo vero asperiores mollitia officiis exercitationem assumenda, autem, odit sunt suscipit ea fugiat deleniti, quidem ipsa optio!Similique reprehenderit veritatis laborum provident dolores sint non, ex modi amet nesciunt est molestias nulla nostrum, rerum officiis esse dolor culpa? Provident consectetur doloremque nobis itaque recusandae quibusdam eius iure?Modi et reprehenderit labore, nemo, autem veniam facilis ratione officiis non error molestiae. Voluptas ipsum velit pariatur ad nisi dolorum eaque? Incidunt ex dignissimos doloremque. Ea recusandae ad blanditiis repellat.Cum non minus nihil illo amet aperiam, iste inventore perspiciatis vel soluta id, libero, in laborum! Dignissimos officia, facilis eum quia odio molestias placeat ab! Ab soluta deserunt nobis incidunt.Animi assumenda dolorem dolores, quod officia expedita dolorum odit voluptatibus nisi error temporibus quaerat eveniet reiciendis laboriosam, necessitatibus doloribus voluptate quisquam omnis. Blanditiis, eos quas. Maiores possimus earum deserunt impedit?Dicta labore impedit sint harum aut obcaecati molestias perspiciatis reiciendis, animi rerum illo assumenda aliquam commodi ullam aliquid quod similique a excepturi dolorem qui quasi nobis laborum vitae. Alias, ab?Molestias quaerat at accusantium autem beatae doloribus velit odio provident eaque possimus, aliquid sequi nulla sed dignissimos quidem iusto atque, error recusandae rerum quod alias ea officia, ad quasi. Odio?
    .image-ratio-wrapper
      img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80").image-ratio
    .counter
      h1 HTML and CSS
      h2 HTML Tutorial
      h2 CSS Tutorial
      h2 Bootstrap Tutorial
      hr
      h1 JavaScript
      h2 JavaScript Tutorial
      h2 jQuery Tutorial
      h2 JSON Tutorial
      hr
      h1 Server Side
      h2 SQL Tutorial
      h2 PHP Tutorial
    .item-image
      img(src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80")
    .title-clamp My name is Evondev
    .card-item-wrapper
      .card-item
        img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80")
        .card-item-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quis molestias illum cupiditate! Facere molestiae accusantium asperiores debitis officia quae sunt esse, iure praesentium odio ipsa nisi eveniet assumenda soluta.
