.navigation
  .navigation-item
    include ../icons/_icon-menu
  .navigation-item
    include ../icons/_icon-search
  button.navigation-upload.navigation-item
    img(src="./images/icons/icon-upload.svg", alt="upload")
  .navigation-item
    img(src="./images/icons/icon-message.svg", alt="message")
  .navigation-item
    img(src="./images/icons/icon-noti.svg", alt="noti")