aside.sidebar
  a.logo(href="/")
    img(srcSet="./images/logo.png 2x" alt="gocastUI")
  ul.menu
    each item in [{text: "Home", icon: "icon-home"},{text: "Trending", icon: "icon-chart"},{text: "Explore Topics", icon: "icon-cube"}]
      +menuItem(item.text, item.icon)
  ul.menu
    h3.menu-heading Podcasters
    each item in ["Dashboard","Episodes","Team","Subscribers"]
      +menuItem(item)
  ul.menu
    h3.menu-heading Community
    each item in ["Leaderboard"]
      +menuItem(item)