aside.sidebar
  a.logo(href="/")
    img(srcSet="./images/logo.png 2x" alt="gocastUI")
  ul.menu
    each item in ["Home","Trending","Explore Topics","Playlist","Subscriptions"]
      li.menu-item
        a.menu-link(href="#")
          img(src="./images/icons/icon-home.svg", alt="home").menu-icon
          span.menu-text= item
  ul.menu
    each item in [1,2,3,4,5]
      li.menu-item
        a.menu-link(href="#")
          img(src="./images/icons/icon-home.svg", alt="home").menu-icon
          span.menu-text Home