.topbar
  .search
    img(src="./images/icons/icon-search.svg", alt="search").search-icon
    input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
  .topbar-right
    button.button-upload
      img(src="./images/icons/icon-upload.svg", alt="upload")
      span Upload
    a(href="#").topbar-action
      img(src="./images/icons/icon-message.svg", alt="message")
    a(href="#").topbar-action
      img(src="./images/icons/icon-noti.svg", alt="noti")
    a(href="#").profile
      img(src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80", alt="")