@use "../abstracts" as *;
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
  min-height: 100vh;
}
.main-container {
  padding: 37px 56px;
}
@include screenMaxWidth(1279.98px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .main-container {
    padding: 24px;
  }
}
