*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

:root {
  --primary-h: 248;
  --primary-s: 57%;
  --primary-l: 60%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #1c1e22;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.heading {
  --mb: 0;
  font-size: 16px;
  color: #1c1e22;
  font-weight: 600;
  margin-bottom: var(--mb);
}

.button {
  --gap: 10px;
  --fw: 600;
  --p: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  font-weight: var(--fw);
  padding: var(--p);
  border-radius: 8px;
  font-size: 15px;
}
.button--primary {
  color: #fcfcfc;
  background-color: #6e5fd3;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
  min-height: 100vh;
}

.main-container {
  padding: 37px 56px;
}

@media screen and (max-width: 1279.98px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .main-container {
    padding: 24px;
  }
}
.topbar {
  padding: 24px 56px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.topbar-right > * {
  flex-shrink: 0;
}

.profile {
  display: block;
  width: 48px;
  height: 48px;
}
.profile img {
  border-radius: 100rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-upload {
  height: 48px;
  --gap: 6px;
  --p: 0 16px;
}

.search {
  padding: 12px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  background-color: #eff2f6;
  flex: 0 1 360px;
}
.search-input {
  background-color: transparent;
  flex: 1;
  border: none;
  font-weight: 500;
  font-size: 15px;
  color: #6e5fd3;
  caret-color: #6e5fd3;
}
.search-input::-webkit-input-placeholder {
  color: #a5a6b1;
}
.search-input::-moz-input-placeholder {
  color: #a5a6b1;
}

.sidebar {
  background-color: white;
  padding: 48px 30px;
  border-right: 1px solid #eff2f6;
}
@media screen and (max-width: 1279.98px) {
  .sidebar {
    display: none;
  }
}

.logo {
  display: block;
  margin-bottom: 44px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  --gap: 26px;
}
.menu:not(:last-child):after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ebeff5;
  margin-block: var(--gap);
}
.menu-heading {
  font-size: 13px;
  margin-bottom: 10px;
  color: #8393aa;
  padding-left: 20px;
}
.menu-icon {
  flex: 0 0 24px;
}
.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8393aa;
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
  padding: 8px 30px 8px 20px;
  border-radius: 12px;
}
.menu-link:hover {
  background: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  color: white;
}
.menu-link:hover [fill^="#E5"] {
  fill: white;
  opacity: 1;
}
.menu-link:hover [fill^="#A5"] {
  mix-blend-mode: normal;
  fill: hsl(var(--primary-h), calc(var(--primary-s) + 1%), calc(var(--primary-l) + 16%));
}

/*# sourceMappingURL=app.css.map */
